.place__image {
  grid-column: 1;
  grid-row: 3;
  object-fit: contain;
  max-width: 460px;
  width: calc(100% + 16px * 2);
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .place__image {
    grid-row: 2;
    width: 100%;
    margin-top: 0;
  }
}
