.place__website-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #ffffff;
  text-decoration: underline;
  padding: 0 16px;
}

.place__website-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .place__website-link {
    padding: 0 24px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__website-link {
    padding: 0 48px 0 0;
  }
}
