.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 66px;
  align-self: center;
  width: 100vw;
  height: calc(100vw / 1.6);
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}
@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1232px;
  }
}
