.cover__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(min(100vw, 1184px) / 1.6);
  z-index: 1;
}

@media screen and (min-width: 1280px) {
  .cover__background {
    max-width: 1184px;
  }
}
