.place {
  display: grid;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .place {
    margin-top: 72px;
    gap: 28px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .place {
    margin-top: 80px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .place {
    gap: 40px;
  }
}
