.place__website-url {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-decoration: none;
  margin: 0;
  text-align: left;
  vertical-align: text-bottom;
  width: 100%;
  height: 70%;
}

.place__website-url:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .place__website-url {
    line-height: 170%;
  }
}
