.place__website-url {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-decoration: none;
}

.place__website-url:hover {
  text-decoration: underline;
}
