.place__website-url {
  grid-row: 1;
  grid-column: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-decoration: none;
  margin: 0;
}

.place__website-url:hover {
  text-decoration: underline;
}

@media screen and (min-wight: 1024px) {
  .place__website-url {
    line-height: 170%;
  }
}
